.sign-up-nav-links a {
    display: block;
    text-decoration: none;
    border: 1px;
    width: 900px;
    position: center;
}

.sign-up-header-login h1 {
    position: center;
}

.create-user-form {
    border: 1px solid #F5F5F5;
    max-width: 900px;
    margin: 30px;
    position: left;
}

.create-user-form > {
    display: block;

}