.sign-up-nav-links a {
    display: block;
    text-decoration: none;
    border: 1px;
    width: 900px;
    position: center;
}

.sign-up-header-login h1 {
    color: red;
    text-align:center
}

.sign-up-header-login ul {
    text-align: center;

}

.user-information {
    border: 1px solid #F5F5F5;
    max-width: 900px;
    margin: 30px;
    position: left;
}

.user-information > {
    display: block;
}

