.main-app {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-height: 1000px;
    background-size: cover;
    background-image: url(http://forums.sailinganarchy.com/public/style_images/SA_bg_eyecon1.jpg);

}


// .main-app {
//     display: flex;
//     justify-content: flex-start;
//     flex-direction: column;
//     width: 100vw;
//     min-height: 1000px;
//     background-size: cover;
//     background-image: url(http://forums.sailinganarchy.com/public/style_images/SA_bg_eyecon1.jpg);
// }