.sign-up-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-width: 0;
    justify-content: center;
}

.sign-up-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sign-up-page-header {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    width: 100%;
    background: #F0FFFF;
    font-size: 55px;
}

.sign-up-page-link {
    display: block;
    height: 45px;
    width: 100%;
    border-style: solid;
    background-color: rgb(56, 56, 56);
}
.sign-up-page-link a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-left: 10px;
 }

 .sign-up-page-form-header {
    display: flex;
    flex-direction: column;
    width: 968px;
    height: 130px;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px black solid;
    border-right: 1px black solid;
 }

 .sign-up-page-form-header h1 {
    font-size: 40px;
    padding-bottom: 10px;
 }

 .sign-up-page-form-header div {
    display: block;
    padding-bottom: 12px;
 }

 .sign-up-page-form-header div a {
    text-decoration: none;
 }

 .sign-up-form-box {
    width: 968px;
    height: 775px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }

.sign-up-form {
    display: flex;
    border: 1px rgb(173, 167, 167) solid;
    border-radius: 2px;
    width: 620px;
    height: 725px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-style: bold;
}

.sign-up-form div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 500px;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.sign-up-form div:first-child {
    margin-top: 20px;
}

.span-red {
    padding-left: 10px;
    color: red;
}

.sign-up-form input {
    border-radius: 3px;
    border: 1px rgb(173, 167, 167) solid;
    text-decoration: none;
    flex: 0 0 350px;
    margin-left: 15px;
    margin-top: 15px;
    height: 30px;
}

.sign-up-form input:first-child {
    margin-top: 30px;
}

.form-interests * {
    text-align: center;
    vertical-align: middle;
}

.form-interests textarea {
    // width: 350px;
    margin-left: 20px;
    margin-top: 15px;
}

.sign-up-form button {
    border-radius: 3px;
    border: 1px black solid;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px 24px;
    margin: 25px;
}

