.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-width: 0;
    justify-content: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-header {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    width: 100%;
    background: #F0FFFF;
    font-size: 55px;
    color: blue;
}

.login-page-header a {
    padding-left: 5px;
    text-decoration: none;
}

.login-page-link {
    display: inline-block;
    height: 45px;
    width: 100%;
    background-color: #535151;
    vertical-align: middle;
}

.login-page-link a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    display:block;
    height:40px;
    line-height:40px;
    padding-left: 10px;
}

.login-page-form-header {
    display: flex;
    flex-direction: column;
    width: 968px;
    height: 130px;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px black solid;
    border-right: 1px black solid;
    background-color: white;
}

.login-page-form-header h1 {
    font-size: 40px;
    padding-bottom: 10px;
 }

 .login-page-form-header div {
    margin-bottom: 20px;
    color: rgb(99, 98, 98);
 }

 .login-page-form-header a {
    text-decoration: none;
    margin-left: 5px;
}

 .login-form-box {
    width: 968px;
    height: 450px;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
 }

 .login-form {
    display: flex;
    border: 1px rgb(150, 148, 150) solid;
    border-radius: 2px;
    width: 94%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    height: 420px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login-form div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 500px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}

.login-form div span {
    font-size: 10px;
    color: red;
    padding-left: 10px;
}

.login-form div input {
    line-height: 26px;
    border-radius: 3px;
    border: 1px rgb(173, 167, 167) solid;
}

.login-form button {
    border-radius: 3px;
    border: 1px black solid;
    font-size: 12px;
    color: white;
    background-color: black;
    padding: 10px 24px;
    margin: 20px;
}
