.main-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1320px;
    width: 75vw;
    min-width: 716px;
    min-height: 1000px;
    border: 1px solid white;
}
        // url(http://forums.sailinganarchy.com/public/style_images/bg-header.old.jpg);
        // url(http://forums.sailinganarchy.com/public/style_images/SA_bg_eyecon1.jpg); sa logo  
